.edit-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 25px;
  background: #EFEFEF;
  border-radius: 19.8px;
  max-width: 100%;
}

.edit-btn img {
  display: block;
  height: 20px;
  width: 20px;
  margin-right: 9px;
}

.edit-btn span {
  font-size: 16px;
}

.submit-btn {
  width: 200px;
  height: 60px;
  background: #383A57;
  border-radius: 10px;
  font-size: 20px;
  color: #FFFFFF;
  max-width: 100%;
}

.enabled-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 60px;
  border: 2px solid #727595;
  border-radius: 10px;
  max-width: 100%;
  background-color: transparent;
}

.enabled-btn svg {
  width: 15px;
  height: 15px;
  fill: #3F4156;
}

.enabled-btn span {
  padding-left: 13.5px;
  font-weight: 500;
  font-size: 20px;
  color: #3F4156;
}

.nice-select {
  background: #FFFFFF;
  border: 1px solid #D1D3EB;
  border-radius: 6px;
  color: #000000;
  width: 261px;
  height: 46px;
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 18px;
}

.nice-select .list {
  width: 261px;
}

.nice-select::after {
  border-color: #D1D3EB;
}

.custom-checkbox>input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox>span {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-checkbox>span::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox>input:not(:disabled):not(:checked)+span:hover::before {
  border-color: #b3d7ff;
}

.custom-checkbox>input:not(:disabled):active+span::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.custom-checkbox>input:focus+span::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-checkbox>input:focus:not(:checked)+span::before {
  border-color: #80bdff;
}

.custom-checkbox>input:checked+span::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom-checkbox>input:disabled+span::before {
  background-color: #e9ecef;
}

input {
  height: 52px;
  background: #FFFFFF;
  border: 1px solid #D1D3EB;
  border-radius: 6px;
  padding-left: 16px;
  padding-right: 16px;
}

.radio label {
  position: relative;
  display: flex;
  padding-left: 41px;
  font-size: 18px;
  color: #000000;
  line-height: 27px;
  cursor: pointer;
}

.radio label::before {
  content: '';
  position: absolute;
  left: 0;
  width: 25px;
  height: 25px;
  background-color: #FFFFFF;
  border: 0.8px solid #B7B7B7;
  border-radius: 50%;
  transition: all .2 linear;
}

.radio label::after {
  content: '';
  position: absolute;
  left: 8px;
  top: 8px;
  width: 11px;
  height: 11px;
  background: #FFFFFF;
  border-radius: 50%;
}

.radio input {
  display: none;
}

.radio input:checked + label::before {
  background-color: #3F4156;
  border: 0.8px solid #3F4156;
}

@media (max-width: 576px) {
  .edit-btn img {
    height: 8px;
    width: 7.74px;
    margin-right: 6.74px;
  }

  .edit-btn span {
    font-size: 10px;
  }
}