@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import './reset.css';
@import './vars.css';
@import './buttons.css';
@import './header.css';
@import './menu.css';

/* Blocks */
@import './blocks/geo.css';
@import './blocks/views.css';
@import './blocks/reviews.css';
@import './blocks/statistic.css';

html {
  overflow-x: hidden;
}

body {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  font-display: swap;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #000000;
  overflow-x: hidden;
}

body.show-menu {
  overflow: hidden;
}

body.show-menu .overlay_popup {
  display: block!important;
  z-index: 8;
}

main {
  position: relative;
  display: flex;
  height: calc(100% - var(--header-height));
  min-height: calc(100vh - var(--header-height));;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

textarea {
  border: 1px solid #D1D3EB;
  border-radius: 6px;
  outline: none;
  padding: 16px;
  max-width: 100%;
  max-height: 100%;
  font-size: 16px;
  color: #000000;
}

.main {
  padding: 60px;
  padding-right: 186px;
  background: #FFFFFF;
  width: calc(100% - var(--menu-width));
  height: calc(100% - var(--header-height));
}

.main-blocks {
  display: grid;
  grid-template-columns: calc(60% - 20px) calc(40% - 20px);
  grid-template-rows: 185px auto;
  width: 100%;
  height: fit-content;
  column-gap: 40px;
  row-gap: 20px;
}

.container {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.growth {
  color: #46D354;
}

.loss {
  color: #F05F5F;
}

.overlay_popup {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background:#000;
  opacity: 0.5;
}

@media (max-width: 1440px) {
  body {
    font-size: 14px;
  }

  .header .container,
  .main {
    padding-right: 60px;
  }
}

@media (max-width: 1200px) {
  .main {
    width: 100vw;
  }
  
  body {
    padding-top: var(--header-height);
  }
}

@media (max-width: 768px) {
  .main-blocks {
    display: block;
  }

  .main-blocks > div:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .main {
    padding: 32px 0 40px 0;
    width: 100vw;
  }
  .main-blocks,
  .container {
    width: 100vw;
    margin: 0 auto;
    max-width: calc(100vw - 32px);
  }

  .position span {
    font-size: 14px;
  }

  .edit-btn {
    width: 173px;
    height: 40px;
    border-radius: 19.8092px;
  }

  .edit-btn img {
    width: 7.74px;
    height: 8.09px;
  }

  .edit-btn span {
    font-size: 10px;
  }

  .container-padding-bottom {
    padding-bottom: var(--main-container-padding-bottom);
  }
}
