.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  margin: 0 auto;
  width: 900px;
  max-width: 100vw;
  max-height: 100vh;
  background: #FFFFFF;
  border-radius: 20px;
  padding: 40px 100px 45px 45px;
}

.popup-close {
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.popup h2 {
  font-size: 40px;
  color: #000000;
  margin-bottom: 32px;
}

@media (max-width: 576px) {
  .popup {
    width: calc(100vw - 32px);
    max-height: calc(100vh - 50px);
    padding: 20px 17px 25px 20px;
  }

  .popup h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .popup-close {
    top: 20px;
    right: 20px;
    height: 26px;
    width: 26px;
  }
}